.navbar {
  background-color: #0047df;
  padding: 10px 20px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, sans-serif;
}

.logo-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}


.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
}

.nav-links a {
  color: rgb(255, 221, 0);
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s ease;
  display: inline-block;
}

.nav-links a.active {
  background-color: #003b75;
  border-radius: 5px;
  width: auto;
  padding: 15px;
}

.nav-links a:hover {
  background-color: #1976d2;
  border-radius: 5px;
}

.mobile-menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #006ac0;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 10;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links a {
    padding: 15px;
    border-bottom: 1px solid #1976d2;
  }

  .nav-links a:last-child {
    border-bottom: none;
  }

  .mobile-menu-toggle {
    display: block;
  }

  .navbar-container {
    position: relative;
  }
}
